
/* --- Global settings ---*/

html, body
{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce)
{
	html, body
  {
		scroll-behavior: auto;
	}
}

.btn-primary
{
  background: rgb( 255, 222, 89 );
  border-color: rgb( 255, 222, 89 );
}

.btn-primary:hover
{
  background: rgb(230, 200, 79);
  border-color: rgb(230, 200, 79);
}

.btn-primary:focus
{
  background: rgb(230, 200, 79);
  border-color: rgb(230, 200, 79);
  border-color: rgb(230, 200, 79);
  box-shadow:0 0 0 .2rem rgba(230, 200, 79,.5);
}

.form-control:focus
{
  border-color: rgba( 230, 200, 79, 0.8 );
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.075 ) inset, 0 0 8px rgba( 230, 200, 79, 0.6);
  outline: 0 none;
}

/* --- Loading settings ---*/

@keyframes ldio-jsxn2qe688r
{
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.ldio-jsxn2qe688r div
{
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-jsxn2qe688r linear 1s infinite;
  background: #ffde59;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}

.ldio-jsxn2qe688r div:nth-child(1)
{
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(2)
{
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(3)
{
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(4)
{
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(5)
{
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(6)
{
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(7)
{
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(8)
{
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(9)
{
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(10)
{
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(11)
{
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #ffde59;
}

.ldio-jsxn2qe688r div:nth-child(12)
{
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ffde59;
}

.loadingio-spinner-spinner-65dox1ras4p
{
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-jsxn2qe688r
{
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-jsxn2qe688r div { box-sizing: content-box; }
/* generated by https://loading.io/ */
/* More info https://loading.io/asset/389885 */

.loader
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden
{
  overflow: hidden;
}

/* --- Navbar settings ---*/

.navbar
{
  padding: .8rem;
  background: transparent !important;
}

.nav-link
{
  color: white;
}

.navbar-brand
{
  padding-left: 50px;
}

.navbar-nav
{
  padding-right: 50px;
}

.navbar-nav li
{
  padding-right: 20px;
}

.nav-link
{
  font-size: 1.1em;
}

/* --- Carousel settings ---*/

.carousel-caption
{
  position: absolute;
  top: 80%;
}

/* --- Carousel images ---*/

.image-content
{
  position:relative;
  width: 100%;
  display:inline-block;
}

.image-content:after
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  /* FF3.6+ */
  background: -moz-linear-gradient( top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100% );
  /* Chrome, Safari4+ */
  background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba(0, 0, 0, 0.5) ), color-stop( 100%, rgba(0, 0, 0, 0.5) ) );
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.5) 100%);
}

.image-content img
{
  display: block;
}

/* --- Pasos settings ---*/

#pasos
{
  background: #f7f8f8;
}

.swiper-container
{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pasos-slide
{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 405px;
}

.swiper-button-next, .swiper-button-prev
{
  color: #343a40 !important;
}

/* --- Planes settings ---*/

.planes-slide
{
  background-position: center;
  background-size: cover;
  width: 400px;
}


/* --- Nosotros settings ---*/

#nosotros
{
  background: #f7f8f8;
}

/* --- Contactanos settings ---*/

#contactenos
{
  width: 100%;
  padding: 5% 5% 5% 5%;
  background: url( '../../images/landing/contacto.png' );
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center !important;
}

input[ type=number ]::-webkit-inner-spin-button,
input[ type=number ]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[ type=number ]
{
  -moz-appearance:textfield;
}


/* --- Blog settings ---*/

.image-blog
{
  height: 300px;
}

/* --- Footer settings --- */

.page-footer
{
  position: fixed;
  background: rgb( 255, 222, 89 );
  color: white;
  box-shadow: 0 0 5px #737373;
}

/* --- Media Querys --- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
{

  /* --- Navbar settings ---*/

  .navbar-brand
  {
    padding-left: 0px;
    width: 180px;
  }

  #navbarSupportedContent
  {
    background: #343a40;
    padding-left: 10% !important;
  }

  #contentLinks
  {
    align-items: center;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 70vh;
  }

  .carousel-caption h1
  {
    font-size: 150%;
  }

  .carousel-caption p
  {
    font-size: 90%;
  }

  /* --- Planes settings ---*/

  .planes-slide
  {
    background-position: center;
    background-size: cover;
    width: 300px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{

  /* --- Navbar settings ---*/

  #navbarSupportedContent
  {
    background: #343a40;
    padding-left: 10% !important;
  }

  #contentLinks
  {
    align-items: center;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 80vh;
  }

  .carousel-caption h1
  {
    font-size: 200%;
  }

  .carousel-caption p
  {
    font-size: 100%;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{

  #navbarSupportedContent
  {
    background: #343a40;
  }

  #contentLinks
  {
    align-items: center;
    padding-left: 10% !important;
  }

  .nav-link
  {
    font-size: 1.1em;
    padding-left: 10%;
  }

  .navbar-nav li
  {
    padding-right: 20px;
  }


  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 80vh;
  }

  .carousel-caption h1
  {
    font-size: 180%;
  }

  .carousel-caption p
  {
    font-size: 90%;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 100vh;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{

  /* --- Global settings --- */

  html, body
  {
    height: 100%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  /* --- Carousel settings ---*/

  .carousel-inner
  {
    height: 200% !important;
  }

  .carousel-caption
  {
    position: absolute;
    top: 50%;
  }

  .carousel-inner img
  {
    height: 100vh;
  }

  .carousel-caption h1
  {
    font-size: 400%;
  }

  .carousel-caption p
  {
    font-size: 200%;
  }

}
